:host {
  display: block;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;


  > a {
    color: black;

    &.active {
      color: #1E90FF;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }

  }
}

.content {
  padding: 10px;
  width: 100%;
}


