<ng-dropdown
  [multi]="true"
  compactModeSwitcher
  selectedRecordsFilter
  [selectedRecordsSearchTerm]="selectedRecordsSearchTerm"
  [filterSelectedBy]="filter"
  availableRecordsFilter
  [availableRecordsSearchTerm]="availableRecordsSearchTerm"
  [filterAvailableBy]="filter"
  [records]="items"
  [closeAfterSelect]="false"
  [(ngModel)]="selected"
  selectedRecordsPanelScrollMonitor
  #selectedScroll="selectedRecordsPanelScroll"
  availableRecordsPanelScrollMonitor
  #availableScroll="availableRecordsPanelScroll"
  placeholder="Choose">

  <ng-template availableRecordsHeaderTmpl>
    <input type="number"
           placeholder="x % record === 0"
           [(ngModel)]="availableRecordsSearchTerm"
           (ngModelChange)="availableScroll.scrollTop(0)">
  </ng-template>

  <ng-template selectedRecordsHeaderTmpl>
    <div class="d-flex flex-column">
      <div class="text-center">
        Selected items
      </div>
      <input
        type="number"
        placeholder="x % record === 0"
        [(ngModel)]="selectedRecordsSearchTerm"
        (ngModelChange)="selectedScroll.scrollTop(0)">
    </div>
  </ng-template>

</ng-dropdown>
